/************************
*     Basis design      *
************************/

body {
    background-color: white;
    display: block;
    font-family: Montserrat, sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #666a70;
    margin: 0;
}

.padding {
    background-color: white;
    padding-left: 100px;
    padding-right: 100px;
}

.padding2 {
    padding-right: 200px;
    padding-top: 100px;
    padding-left: 250px;
    background-color: white;
    box-shadow: 10px 10px 5px #aaaaaa;
    margin-bottom: 20%;
    padding-bottom: 100px;
}

.overlay2 {
    background-color: white;
    margin-bottom: 5%;
    position: relative;
    z-index: 2;
}

h1 {
    font-size: 58px;
    color: #130b2c;
    font-weight: 800;
    letter-spacing: -.03em;
    margin-bottom: 70px;
}

h2 {
    color: #130b2c;
    font-size: 34px;
    font-family: Montserrat, sans-serif;
    font-weight: 800;
    margin-bottom: 24px;
    margin-top: 0;
    letter-spacing: -.03em;
}

h5 {
    color: #130b2c;
}

p {
    margin-bottom: 24px;
    line-height: 25px;
    font-weight: 300;
}

.overlay {
    position: relative;
    z-index: 2;
}

/************************
*       Navigatie       *
************************/

.header {
    padding-top: 20px;
    padding-bottom: 40px;
}

.navlink {
    text-align: right;
    font-size: 16px;
    font-weight: 600;
    padding: 28px 24px;
}

.header {
    background-color: white;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding-bottom: 0;
}

.navlink1 {
    text-align: left;
    padding-left: 150px;
    padding-right: 50%;
    font-size: 16px;
    font-weight: 600;
    padding-top: 28px;
}

a {
    font-family: Montserrat, sans-serif;
    color: #130b2c;
    font-weight: 400;
    text-decoration: none;
    float: left;
    display: block;
    text-align: center;
}

a:hover,
a:active {
    color: #fc2d75;
}

/************************
*       Inleiding       *
************************/

.image {
    margin-top: 100px;
    width: 100%;
    margin-bottom: 100px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.context {
    padding-left: 20%;
    padding-right: 20%;
}

/************************
*       Categorie       *
************************/

.doelgroepbutton,
.genrebutton {
    background-color: rgb(232, 237, 244);
    border: 2px solid rgb(232, 237, 244);
    color: #130b2c;
    border-radius: 10px;
    text-transform: uppercase;
    font-size: 10px;
    padding: 10px;
    font-family: Montserrat, sans-serif;
}

.doelgroepbutton-active,
.genrebutton-active {
    background-color: white;
    border: 2px solid #fc2d75;
    color: #fc2d75;
}

/************************
*        Video's        *
************************/
.content {
    display: grid;
    grid-column-gap: 30px;
    grid-row-gap: 50px;
    grid-template-columns:
        300px 300px 300px auto;
    grid-template-rows:
    300px 300px 300px auto;
    justify-content: start;
}

.thumbnail {
    display: flex;
    width: 300px;
    height: 200px;
    padding: 36px;
}

/************************
*       Formulier       *
************************/

.eindwoord,
.contact {
    padding-top: 60px;
    padding-bottom: 60px;
}

strong {
    color: white;
}

.eindwoord {
    background-color: #fc2d75;
    color: white;
    padding: 2%;
    width: 45%;
    display: inline-block;
    padding-top: 50px;
    padding-bottom: 250px;
    float: left;
    margin-bottom: 20%;
}

.contact {
    background-color: #e8edf4;
    padding: 2%;
    width: 47%;
    display: inline-block;
    padding-top: 50px;
    padding-bottom: 148px;
}

label {
    display: block;
    margin-bottom: 7px;
    color: #130b2c;
    font-size: 15px;
    font-weight: 800;
}

.submit-button-2 {
    width: 84%;
    margin-top: 24px;
    background-color: #fc2d75;
    color: white;
    height: 60px;
    padding-right: 24px;
    padding-left: 24px;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 600;
    border-radius: 15px;
    border-width: 0;
}

.submit-button-2:hover {
    box-shadow: 2px 2px grey;
}

.cc-form__input {
    height: 60px;
    margin-bottom: 24px;
    padding: 10px 20px;
    border: 1px #000;
    border-radius: 10px;
    background-color: #fff;
    color: #130b2c;
    font-weight: 500;
}

.w-input,
.w-select {
    display: block;
    width: 80%;
    height: 38px;
    padding: 8px 12px;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
    border: 1px solid #ccc;
}

.w-select[multiple],
textarea.w-input,
textarea.w-select {
    height: auto;
}

.background {
    background-color: white;
    padding: 30px;
    box-shadow: 10px 10px 5px #aaaaaa;
    margin-bottom: 20%;
}

/************************
*        Footer         *
************************/

.sponsor {
    position: fixed;
    left: 0;
    top: auto;
    right: auto;
    bottom: 0;
    z-index: -1;
    padding-bottom: 40px;
    width: 87%;
    padding-top: 150px;
    padding-bottom: 40px;
    padding-left: 100px;
    padding-right: 100px;
    background-color: #e8edf4;
}

p>a {
    font-size: 16px;
    text-decoration: underline;
}

.sponsors {
    text-align: center;
    font-size: 16px;
    font-weight: 300;
}

.sponsorImage {
    margin-top: 2%;
    margin-left: 28%;
}

.sponsorImage2 {
    margin-left: 2%;
}